/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY0px;
 * - CUSTOM STYLES
 */


@font-face {
    font-family: 'TH SarabunPSK';
    src: url('fonts/THSarabun.ttf');
}
@font-face {
    font-family: 'DB Ozone X';
    src: url('fonts/DB Ozone X v3.2.ttf');
}
body,header,a{
    font-size: 18px !important;
}



em{
    font-size: 18px !important;
}
body, a, h1, h2{
    font-family: "DB Ozone X" !important;

}

h1, h2, h3, h4, h5, h6{
    font-family: "DB Ozone X" !important;
    font-size: 24px  !important;
}

select{
    font-family: "DB Ozone X" !important;
    font-size: 20px !important;
}

select option{font-family: "DB Ozone X" !important;
    font-size: 20px !important; }

input {
    font-family: "DB Ozone X" !important;
    font-size: 18px !important;
}

section em{
    font-family: "DB Ozone X" !important;
    font-size: 14px !important;
}

.page-footer{
    display: none !important;
}
.MessageBoxMiddle .pText{
    font-size: 20px !important;
}

#logo{
    margin-top: 5px !important;
    margin-left: 30px !important;
}
#logo img{
    height: auto !important;
    width: 70px !important;
}

.login-header-big{
 font-size: 40px !important;
}
.paragraph-header{
    width: 500px !important;
    margin-top: 5px !important;
}
/*.login-bg{*/
     /*background-image: url('/backend/img/login_bg.jpg');*/

    /*background-size: cover;*/
/*}*/

.display-image{
    width: 30% !important;
    margin-right: 100px !important;
    margin-top: 0px !important;
}
#left-panel{
    padding-top: 70px !important;
}
#header{
    height: 70px !important;
}
i{
    font-size: 14px !important;
}
table thead tr th{
    font-size: 18px !important;
}
table tbody tr td{
    font-size: 18px !important;
}

#ui-datepicker-div a{
    font-family: Arial !important;
    font-size: 12px !important;
}
.ui-datepicker-calendar thead tr th {
    font-size: 12px !important;
}
.jarviswidget>header {
    height: 40px !important;
    padding: 0;
    line-height: 50 !important;
}
#comment-form_darkman label{
    font-size: 18px!important;
}
.report-title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.report-period{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}
.mea-pagesize{
    width: 80px;

    position: absolute;
    right:2px;
    top:3px;
}


.odd{
    background-color: #f9f9f9;
}
.ui-state-disabled{
    font-size: 12px !important;
}

.import_title a{
    font-size: 24px !important;
}





