/*body {
	background-color: #000000;
	font-family: 'DB Ozone X', 'DB Ozone X', 'DB Ozone X';
	font-size: 16px; 
	color: #000;
}
*/
#main_chart1	{
	width: 450px;
	height: 500px;
	border: 0px solid #ccc;
	padding: 10px;
}

#main_chart2	{
	width: 450px;
	height: 500px;
	border: 0px solid #ccc;
	padding: 10px;
}
#mea_chart	{
	width: 450px;
	height: 500px;
	border: 0px solid #ccc;
	padding: 10px;
}